/* FONTS */
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');
@import url('syntax-highlighting.css');
@import url(https://fonts.googleapis.com/css?family=Expletus+Sans);

/* ROOT */
:root {
  --main-color: white;
  --bg-color: black;
  --text-color: #DDD;
  --pop-color: white;
  --alt-color: #55ffc5;
  --light-alt-color: rgba(85, 255, 197);
}

/* BASE */
body {background-color: var(--bg-color);,color: var(--main-color); font-family: 'Roboto Mono', monospace; margin: 0 auto;width: 90%; max-width: 700px; line-height: 1.8em; font-size: 0.9em; }
h1, h2, h3, h4, h5, h6 {  margin: 0px;  margin-top: 10px;  font-weight: bold;  color: var(--pop-color); font-size: 1.4em; }
p, ul, ol { font-size: 1em;  color: var(--text-color); margin-bottom: 10px;}
.posts{margin-top: 0px; margin-bottom: 10px;}
a { text-decoration: underline;  color: var(--alt-color); }
a:hover { color: var(--bg-color); background-color: var(--alt-color); }
.primary-text { color: var(--main-color); }
@media only screen and (max-device-width: 500px) { * { font-size: 12px !important; } }
b, strong { color: var(--main-color); }
.invert { color: var(--bg-color); background-color: var(--main-color); padding-left: 3px; padding-right: 3px; padding-top: 1px; padding-bottom: 1px; }




/* SMALL FONT OVERRIDE */
body.large { line-height: 2em; font-size: 1em; }

/* LAYOUT */
.container { margin-right: auto;  margin-left: auto; }
p { word-wrap: break-word;  word-break: break-word;  white-space: pre-wrap; }
footer { color: var(--text-color);  border-top: dashed 1px rgba(219, 219, 219, 0.9);  margin: 20px auto 15px;  padding-top: 10px;  text-align: right; }
header { margin-top: 25px;  margin-bottom: 10px; }
header p { text-align: left;  margin: 0; }
footer { margin-bottom: 20px; }
img.home_header { width: 100%; margin-top: 2%; margin-bottom: 3px; }
img.detail_header { width: 100%; }
img.screenshot{  width: 95.2%;border: 1px dashed rgba(219,219,219,0.9); border-radius: 3px;padding: 15px;}
img.about{  width: 25%;border: 1px dashed rgba(219,219,219,0.9); border-radius:7px;padding: 10px; }

/* LISTS */
:not(.menu) > ul { list-style: none; padding-left: 1em; }
ul :not(.menu) > ul { list-style: none; padding-left: 3em; margin-top: 0.5em; margin-bottom: 0.7em; }
:not(.menu) > ul { list-style-type: none; }
:not(.menu) > ul > li:before { content: "::";  margin-right: 5px;}
ul :not(.menu) > ul > li:before { content: "*";  margin-right: 9px; }

/* BLOG THINGS */
.backto {font-size: 1em;  color: var(--text-color); }


/* NAVIGATION */
.menu { border-top: dashed 1px rgba(219, 219, 219, 0.9);  border-bottom: dashed 1px rgba(219, 219, 219, 0.9);  margin-bottom: 25px; }
.menu ul { margin-top: 12px;  margin-bottom: 12px;  padding-left: 0px;  list-style-type: none;  text-align: right; }
.menu ul li { display: inline;  margin-left: 10px; }
.menu ul li a { text-decoration: none;  color: var(--text-color); }
.menu ul li a:hover { text-decoration: none; color: var(--bg-color); background-color: var(--main-color); }
.menu ul li.page_title { text-align: left; margin-left: 10px; float: left; font-weight: bold; color: var(--main-color);}

/* BLINKING CURSOR */
.blinking-cursor { font-weight: 100; font-size: 0.9em; color: #FFF; -webkit-animation: 1s blink step-end infinite; -moz-animation: 1s blink step-end infinite; -ms-animation: 1s blink step-end infinite; -o-animation: 1s blink step-end infinite; animation: 1s blink step-end infinite;}
@keyframes "blink" {from, to {color: transparent; }50%{color: white;}}
@-moz-keyframes blink {from, to {color: transparent;}50% {color: white;}}
@-webkit-keyframes "blink" {from, to {color: transparent;}50% {color: white;}}
@-ms-keyframes "blink" {from, to {color: transparent;}50% {color: white;}}
@-o-keyframes "blink" {from, to {color: transparent;}50% {color: white;}}

/* PROGRESS BAR */
progress[value] {appearance: none;border: none;width: 100%; height: 20px;background-color: whiteSmoke;border-radius: 3px;box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;color: royalblue;position: relative;margin: 0 0 0; }
progress[value]::-webkit-progress-bar {background-color: whiteSmoke;border-radius: 3px;box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;}
progress[value]::-webkit-progress-value {position: relative;background-size: 35px 20px, 100% 100%, 100% 100%;border-radius:3px;animation: animate-stripes 5s linear infinite;}
@keyframes animate-stripes { 100% { background-position: -100px 0; } }
progress[value]::-webkit-progress-value:after {content: '';position: absolute;width:5px; height:5px;top:7px; right:7px;background-color: white;border-radius: 100%;}
.progress-bar {background-color: whiteSmoke;border-radius: 2px;box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;width: 100%; height:20px;}
.progress-bar span {background-color: royalblue;border-radius: 3px;display: block;text-indent: -9999px;}
p[data-value] {margin-top: 6px; margin-bottom: 9px; position: relative;top: 12px;}
p[data-value]:after {content: attr(data-value) '%';position: absolute; right:0;}
.progressbar::-webkit-progress-value {background-image:-webkit-linear-gradient( 0deg,transparent,transparent 1%,rgba(0,0,0,.1) 1%,rgba(0,0,0,.1) 1%,transparent 1%),-webkit-linear-gradient( top,rgba(255, 255, 255, .25),rgba(0,0,0,.2)),-webkit-linear-gradient( left, #fff, #55ffc5);}
background-image:-webkit-linear-gradient( left, #fff, #55ffc5);}


/* DESCRIPTION BOX */
a{ text-decoration: none;color: var(--bg-color);}
.description{position: relative;display: inline-block;}
.description::after{content: attr(data-title);position: absolute;top: 100%;left: -60%;padding-bottom: 0px;padding-top: 0px;padding-left: 8px;padding-right: 8px;background:  var(--bg-color);color:  var(--text-color);opacity: 0;word-wrap: break-word;height: %100;width: 200%;pointer-events: none;font-size: 13px;}
.description:hover::after{opacity: 1;-webkit-transition: opacity 0.3s;-moz-transition: opacity 0.3s;transition: opacity 0.3s;pointer-events: auto;}

